.card {
  color: var(--text-secundary-color);
  background: black;
  padding: 24px 16px;
  width: 321px;
  height: 288px;
  box-sizing: border-box;
  border-radius: 16px;
  text-align: center;
}
.card header {
  display: block;
  background-color: transparent;
  position: static;
}
.card head p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.card head h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin-top: 8px 0 0;
}

.card head span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block;
}
