.card {
  color: var(--text-secundary-color);
  background: black;
  padding: 24px 16px;
  width: 321px;
  box-sizing: border-box;
  border-radius: 16px;
  text-align: center;
}
.card header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}
.card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
  height: auto;
}

.card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin-top: 8px 0 0 0;
}

.card header span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block;
}

.card.japao {
  background: url(/img/card-japao.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card.san-andreas {
  background: url(/img/card-san-andres.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card.paraiba {
  background: url(/img/card-paraiba.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card.manaus {
  background: url(/img/card-manaus.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1024px) {
  .card {
    width: 588px;
  }
  .card header h3 {
    font-size: 48px;
  }

  .card header span {
    font-size: 40px;
  }
}
